<h1>MODIFICA STUDIO MEDICO</h1>

<%= form_for [@owner, @clinic] do |f| %>
    <div>
        <%= f.label :nome%>
        <%= f.text_field :name%>
    </div>
    <div>
		<%= f.label :indirizzo%>
		<%= f.text_field :address%>
	</div>
    <div>
		<%= f.label :descrizione%>
		<%= f.text_area :description%>
	</div>
	<div>
        <%= f.submit "Modifica" %>
    </div>
<% end %>
