<h1> Crea nuovo studio medico </h1>

<%= form_for @clinic, :url => {:controller => "clinics", :action => "create"} do |f| %>

	<div>
		<%= f.label :nome%>
		<%= f.text_field :name%>
	</div>

	<div>
		<%= f.label :indirizzo%>
		<%= f.text_field :address %>
	</div>

    <div>
		<%= f.label :descrizione%>
		<%= f.text_area :description %>
	</div>

	<div>
		<%= f.submit "Crea nuovo studio" %>
	</div>

<% end %>
