<%= form_tag(search_doctor_path, method: :get, id: "searchDoct-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search ..." %>
<% end %>
<table>
    <% @doctors.each do |doctor| %>
        <tr>
            <% if(session[:type] == "Owner") %>
                <td><%= doctor.name %><%= button_to "Aggiungi Medico", add_new_doctor_path(doctor.id, session[:clinic_id]), :method => :get, class: "btn" %></td>
            <% elsif(session[:type] == "Patient") %>
                <td><%= doctor.name %><%= button_to "Prenota visita", add_new_doctor_path(doctor.id, session[:clinic_id]), :method => :get, class: "btn" %></td>
            <% elsif(session[:type] == "Secretary") %>
                <td><%= doctor.name %> <%= button_to "Visualizza Visite",  clinic_doctor_examinations_path(session[:clinic_id], doctor.id), :method => :get, class: "btn" %></td>  
            <% end %>
        </tr>
    <% end %>
</table>
