<h2> Creazione prescrizione di un farmaco per determinata visita (Vista Dottore) </h2>

<%= form_for @prescription, url: examination_drugs_path do |p| %>
	<div>
		<%= p.label :farmaco%>
		<%= p.text_field :drugName, autofocus: true %>
	</div>

	<div>
		<%= p.label :dosaggio%>
		<%= p.text_field :comment, autofocus: true %>
	</div>

	<div>
		<%= p.submit "Inserisci prescrizione" %>
	</div>

<% end %>
<br>
<h2> Farmaci trovati </h2> <br>
<div id='farmaci'>
	
</div>
