<h2> Modifica prescrizione farmaco </h2>
<%= form_for @prescription, url: prescription_path do |p| %>
	<div>
		<%= p.label :drugName%>
		<%= p.text_field :drugName %>
	</div>
	
	<div>
		<%= p.label :comment%>
		<%= p.text_field :comment %>
	</div>
	
	<div>
		<%= p.submit "Modifica prescrizione" %>
	</div>

<% end %>
