<%= form_tag(search_doctor_path, method: :get, id: "clinDoct-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search ..." %>
<% end %>
<table>
    <% @doctors.each do |doctor| %>
        <tr>
            <%= if session[:type] == "Patient" %>
                <td><%= doctor.name %><%= button_to "Prenota visita", add_new_doctor_path(doctor.id, session[:clinic_id]), :method => :get, class: "btn" %></td>
            <% end %>
        </tr>
    <% end %>
</table>
