<!DOCTYPE html>
<html>
  <head>
    <h1>HOME PAGE PROPRIETARIO</h1>
  </head>
  <body>
    <div>
        <h2>Signed in as <strong><%= current_user.email %></strong>!</h2>
        <h1>Operazioni</h1>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <%= button_to "Crea nuovo studio medico", new_owner_clinic_path(current_user.id), :method => "get", class: "btn"%>
                </div>
                <div class="col-sm-6 text-right">
                    <%= button_to "Gestisci studio medico", owner_clinics_path(current_user.id), :method => "get", class: "btn"%>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <%= button_to "Aggiungi medico", show_clinics_path(current_user.id), :method => "get", class: "btn"%>
                </div>
                <div class="col-sm-6 text-right">
                    <%= button_to "Aggiungi Segretario", add_new_secretary_path(current_user.id), :method => "get", class: "btn"%>
                </div>
            </div>
        </div>
  </body>
</html>
