<!DOCTYPE html>
<html>
  <head>
    <h1>HOME PAGE PAZIENTE</h1>
  </head>
  <body>
    <div>
        <h2>Signed in as <strong><%= current_user.email %></strong>!</h2>
        <h1>Operazioni</h1>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <%= button_to "Visualizza cartella clinica", show_patient_story_path(current_user.id), :method => "get", class: "btn"%>
                </div>
                <div class="col-sm-6 text-right">
                    <%= button_to "Prenota Visita", patient_prescriptions_path(current_user.id), class: "btn"%>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <%= button_to "Cerca studio medico", search_clinic_path, :method => "get", class: "btn"%>
                </div>
                <div class="col-sm-4 text-center">
                    <%= button_to "Visualizza visite",patient_examinations_path(current_user.id), :method => "get", class: "btn"%>
                </div>
                <div class="col-sm-4 text-right">
                    <%= button_to "Visualizza prescrizioni", patient_prescriptions_path(current_user.id), class: "btn"%>
                </div>
            </div>
        </div>

  </body>
</html>
