<%= form_tag(search_patient_path, method: :get, id: "searchDoct-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search ..." %>
    <%= hidden_field_tag :date, params[:date] %>
<% end %>

<table>
    <% @patients.each do |patient| %>
        <tr>
            <td><%= patient.name %> <%= patient.surname %>
                    <%=  button_to "Prenota", clinic_doctor_examinations_path(params[:clinic_id], params[:doctor_id]), params: { patient_id: patient.id, date: params[:date]}, class: "btn" %>
            </td>
        </tr>
    <% end %>
</table>
